.btn {
    border-radius: 0 !important;
    font-size: 20px !important;
    padding: 10px 40px !important;

    &.btn-grey-outlined {
      border: 1px solid $yp-grey-color;
      color: $yp-grey-color;
    }

    &.btn-white-outlined {
      border: 1px solid white;
      color: white;
    }

    &.btn-yellow-filled {
      background-color: $yp-primary-color;   
      color: black;   
    }

    &.btn-grey-filled {
      background-color: $yp-grey-color;
      color: white;

      &:hover {
        color: black !important;
      }
    }

    &:hover {
      color: white !important;
    }

    &.slide {
      box-shadow: inset 0 0 0 0 $yp-primary-color;
      -webkit-transition: ease-out 0.3s;
      -moz-transition: ease-out 0.3s;
      transition: ease-out 0.3s;      

      &:hover {
        color:black !important;
      }
    }

    &.slide_right:hover {      
      box-shadow: inset 400px 0 0 0 $yp-primary-color;
    }
}
