.grey-container {
    background-color: $yp-dark-grey-color;
    color: white;
}

.light-grey-container {
    background-color: $yp-grey-color;
    color: black;
}


.orange-container {
    background-color: $yp-orange-color;
    color: white;
}

.white-container {
    background-color: white;
    color: $yp-dark-grey-color;

    h2 {
        margin-top: 100px;
    }
}
