.grey-container {
    form {
        color: $yp-grey-color;        
    }

    .MuiFormLabel-root,
    .MuiFormControlLabel-label,
   .MuiInputLabel-formControl {
       color: $yp-grey-color;

       .Mui-focused {
        color: white !important;
       }
    }

    .MuiInput-underline {
        &::before {            
            border-bottom: 2px solid $yp-grey-color;
        }

        &::after {            
            border-bottom: 2px solid $yp-primary-color;            
        }

        &:hover::before {            
                border-bottom: 2px solid $yp-grey-color;
        }
    }    

    .MuiInputLabel-root {
        font-size: 1.3rem;
    }

    .MuiFormLabel-root {
        color: $yp-grey-color;
    }

    .MuiFormHelperText-root {
        color: $yp-grey-color;
    }

    .Mui-focused {
        color:$yp-primary-color !important;
    }

    .MuiInputBase-input {
        color: white;        
    }
    
    .MuiSvgIcon-root {
        fill: $yp-grey-color;
    }

    .MuiFormHelperText-root {

    }    
}

form {
    font-size: 1.0rem;
    max-width: 800px;
    width: 100%;

    .MuiInputBase-input {
        font-size: 1.5rem;
    }

    .MuiTextField-root {     
        margin-bottom: 2rem;
    }

    .MuiFormControl-root {
        margin-bottom: 2rem;
    }
}
