.grey-container {
    background-color: $yp-dark-grey-color;
    color: white;
    min-height: 100vh;

    .grey-card {
        background-color: $yp-dark-grey-color;

        .card-text {
            color: $yp-grey-color;             
        }
    }
}
