.grey-card {        
    background-color: $yp-dark-grey-color !important;

    .card-text {
        color: $yp-grey-color;             
    }

    .MuiSvgIcon-root {
        font-size: 40px;
    }
}
