.grey-container {
    background-color: $yp-dark-grey-color;
    color: white;

    .grey-card {        
        background-color: $yp-dark-grey-color;

        .card-text {
            color: $yp-grey-color;             
        }

        .MuiSvgIcon-root {
            font-size: 40px;
        }
    }
}
