header {
    color: black !important;
    position: sticky; 
    top: 0;        
    z-index: 1 !important;

    a {
        color: $yp-dark-grey-color !important;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &.downsize {       
        img {
            transition: all .4s ease-in-out;
            transform-origin: top left;
            transform: scale(0.7) translate(0px, 20px); 
        }
        nav {
            transition: all .4s ease-in-out;
            height: 60px;
        }
    }

    &.standard {       
        img {
            transition: all .4s ease-in-out;
            transform-origin: top left;
            transform: scale(1.0);             
        }
    }
    nav {
        color: $text-color !important;
        background-color: $yp-primary-dark-color;
        height: 100px;    
    }
}


