.jumbo-teaser {    
    color: white;    

    >div {
        >div {
            min-height: 100vh;
        }
    }

    h2 {
        font-size: 40px;            
        font-weight: bold;
    }    
}
