.map-container {
  margin-top: 1rem;
  border-bottom: 3px solid #ccc;
  border-top: 2px solid #ccc;
  border-right: 3px solid #ccc;
  border-left: 2px solid #ccc;
  padding: 1rem;
}

.ol-map {
  min-width: 600px;
  min-height: 500px;
  height: 500px;
  width: '100%';
}

.ol-control {
  position: absolute;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-full-screen {
  top: .5em;
  right: .5em;
}