.numbering-card {
    min-height: 200px;
    
    h3 {
        color: $yp-grey-color;        
        position: relative;
        padding-left: 55px;
    
        .number {
            background: $yp-grey-color;
            border-radius: 50%;
            color: white;
            display: inline-block;
            height: 46px;
            left: 0;
            line-height: 42px;
            margin-right: 12px;
            position: absolute;
            text-align: center;
            top: -7px;
            width: 46px;            
        }
    }
}
