.shift-againts-card {        
    margin-bottom: 8rem;

    h2 {
        margin-top: 30px;
    }

    h4 {
        color: $yp-grey-color;
        text-transform: uppercase;
    }

    img {
        &:before {
            background: #33A8E0;
            position: relative;
            content: "..";                
        }
    }    
}
