.text-card {
    &.card {
        border: 0;
    }
    .card-body {
        text-align: center;
    }
    .card-link {
        margin-top: 20px;
    }
    .card-subtitle {
        text-align: center;
        font-size: 12px;
    }
    .card-text {
        text-align: center;
        margin-top: 40px;
    }
    .card-title {
        font-size: 1.75rem;
        text-align: center;

        .MuiSvgIcon-root {
            margin-left: 10px;
        }
    }    
}
