@import "fonts";
@import "colors";
@import "elements/_header";
@import "elements/_buttons";
@import "elements/_jumbo-teaser";
@import "elements/_containers";
@import "elements/_hamburger-menu";
@import "elements/_navbar";
@import "elements/_side_nav";
@import "elements/_text-card";
@import "elements/_grey-card";
@import "elements/_image-rollover-card";
@import "elements/shift-against-card";
@import "elements/form";
@import "elements/contact-form";
@import "elements/numbering-card";
@import "elements/footer";
@import "common/headlines";

body {
    background-color: $background-color;
    font-family: 'Oswald', sans-serif !important;
}

section {
    color: $text-color;    
}

#root {
    height: 100%;
}

.top-fixed {
    position: fixed !important;    
    top: 0;    
    right: 0;    
    left: 0;    
    z-index: 1030;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

.text-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.link {
    font-family: 'Trocchi', serif;
    font-size: 0.9em;
    color: #444;

    &::before {
        color: '#0000cc';
        content: "→";
        margin-right: 10px;
    }    

    &:hover {
        text-decoration: none;
        color: red;
    }
}
