$text-color: #000000;
$background-color: #f7f7f9;
$yp-primary-color: #fff000;
$yp-primary-dark-color: #eee000;
$yp-primary-pretty-dark-color: #AAA000;
$yp-dark-grey-color: #333333;
$yp-grey-color: #8c8c8c;
$yp-orange-color: #fd6f16