header {
    color: black !important;
    position: sticky; 
    top: 0;        
    z-index: 1 !important;        
    a {
        color: $yp-secondary-color !important;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &.downsize {       
        img {
            transition: all .4s ease-in-out;
            transform-origin: top left;
            transform: scale(0.7) translate(0px, 20px); 
        }
        nav {
            transition: all .4s ease-in-out;
            height: 60px;
        }
    }

    &.standard {       
        img {
            transition: all .4s ease-in-out;
            transform-origin: top left;
            transform: scale(1.0);             
        }
    }
    nav {
        color: $text-color !important;
        background-color: $yp-primary-color;
        height: 100px;    
    }
    .navbar-nav {
        font-family: 'Open Sans', sans-serif !important;

        .nav-link {
            font-size: 16px !important;

            &:after {
                background-color: #fff!important;
                display: block;
                content: "";
                height: 2px;
                width: 0%!important;
                left: 50%!important;
                top: 10px;
                position: relative;
                -webkit-transition: width .3s ease-in-out!important;
                -moz--transition: width .3s ease-in-out!important;
                transition: width .3s ease-in-out!important;
                -webkit-transform: translateX(-50%)!important;
                -moz-transform: translateX(-50%)!important;
                transform: translateX(-50%)!important;
            }
            &:hover {
                &:after {
                    width: 100%!important;
                }
            }
        }        
    }
}


